# ===== Core ML (REMI 必需) =====
tensorflow==2.12.0 

# ===== 数值 & 科学计算 =====
numpy>=1.16,<1.24

# ===== MIDI 处理 =====
pretty_midi>=0.2.9
mido>=1.2.10

# ===== 进度条 / 日志 =====
tqdm>=4.45

# ===== 文件与工具 =====
six>=1.15

miditoolkit==0.1.16

matplotlib==3.5.3

mir_eval==0.7

huggingface_hub==0.19.4
